{##
 # SocietoGlueInstallerBundle
 # Copyright (C) 2011 Kousuke Ebihara
 #
 # This program is under the EPL/GPL/LGPL triple license.
 # Please see the Resources/meta/LICENSE file that was distributed with this file.
 #}

{% set title = "Step1. Configure your Database" %}

{% extends 'SocietoGlueInstallerBundle::install_base.html.twig' %}

{% block body %}
<form action="{{ path('_configurator_step', { 'index': index }) }}" method="post">
    {{ form_widget(form) }}
    <p><button type="submit">Next Step</button></p>
</form>
{% endblock %}
