{##
 # SocietoGlueInstallerBundle
 # Copyright (C) 2011 Kousuke Ebihara
 #
 # This program is under the EPL/GPL/LGPL triple license.
 # Please see the Resources/meta/LICENSE file that was distributed with this file.
 #}

{% set title = "Step2. Configure your secret for your website" %}

{% extends 'SocietoGlueInstallerBundle::install_base.html.twig' %}

{% block body %}
<p>Configure the global secret for your website (the secret is used for the CSRF protection among other things):</p>

<form action="{{ path('_configurator_step', { 'index': index }) }} " method="post">
    {{ form_widget(form) }}
    <p><button type="submit">Next Step</button></p>
</form>
{% endblock %}
