{##
 # SocietoGlueInstallerBundle
 # Copyright (C) 2011 Kousuke Ebihara
 #
 # This program is under the EPL/GPL/LGPL triple license.
 # Please see the Resources/meta/LICENSE file that was distributed with this file.
 #}

{% set title = "Error" %}

{% extends 'SocietoGlueInstallerBundle::install_base.html.twig' %}

{% block body %}
<p class="error">There are the following misssing tables on your database:</p>

<div class="error_details">
<ul>
{% for missing in missings %}
<li>{{ missing }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
